<div>
  <h1>Waddup Waddup</h1>
  <% if current_user %>
    <%= link_to 'New Post', controller: "posts", action: "new" %>
  <% end %>
  <% @posts.each do |post| %>
    <h1><%= link_to "#{post.title}" %></h1>
    <p><%= post.content %></p>
  <% end %>
</div>
